<td><%= name %></td>
<!-- <td><%= address %></td> -->
<td><%= phone %></td>
<td><%= email %></td>
<!-- <td><%= company %></td> -->

<td>
	<!-- <a href="#/<%= id %>"><i class="icon-user"></i></a>&nbsp; -->
	<a href="#/<%= id %>/edit"><i class="icon-edit"></i></a>&nbsp;
	<a href="#/<%= id %>/destroy" class="destroy"><i class="icon-trash"></i></a>
</td>